<div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Day Range List</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Day Range</li>
                </ol>
                <button type="button" class="btn btn-info d-none d-lg-block m-l-15" (click)="create();"><i class="fa fa-plus-circle"></i> Create Day Range</button>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                <flag-alert [message]="saveMsg"></flag-alert>
                   <div class="table-responsive">
                        <table class="table color-bordered-table theme-bordered-table">
                            <thead>
                                <tr>
                                    <th data-sort-initial="true" data-toggle="true">#</th>
                                    <th data-sort-initial="true" data-toggle="true">DayRangeName</th>
                                    <th data-sort-initial="true" data-toggle="true">Travel Expense Amount</th>
                                    <th data-sort-initial="true" data-toggle="true">Stay Expense Amount</th>
                                    <th data-sort-initial="true" data-toggle="true">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr *ngFor="let row of rows | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;let i=index ">
                                        <td>{{i+1}}</td>
                                        <td>{{row.dayRangeName}}</td>
                                        <td>{{row.travelExpenseAmount}}</td>
                                        <td>{{row.stayExpenseAmount}}</td>
                                        <td class="text-nowrap">
                                            <a href="javascript:void(0)"><i class="fa fa-pencil text-inverse m-r-10" (click)="show(row.id);"></i> </a>
                                            <confirm-delete [type]="'icon'" (confirmed)="delete(row.id)"></confirm-delete>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ngb-pagination 
                            [(page)]="page"
                            [pageSize]="pageSize"
                            [collectionSize]="rows.length"></ngb-pagination>
                            <pre>Current page: {{page}}</pre>
                    </div>
                </div>
            </div>
        </div>  

        <ng-template #cdetail let-c="close">
                <div class="modal-header">
                    <h3 class="modal-title">Day Range Detail</h3>
                    <button type="button" class="close" (click)="c()"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-4 form-group" [ngClass]="{'has-danger': drName.invalid && (drName.dirty || drName.touched)}">
                            <label class="control-label">Day Range Name</label>
                            <input type="text" class="form-control"  #drName="ngModel" placeholder="Day Range Name"  [(ngModel)]="dayrange.dayRangeName"> 
                            <div *ngIf="drName.invalid && (drName.dirty || drName.touched)">
                                <small class="form-control-feedback" *ngIf="drName.errors.required">Day Range  Name is required.</small>
                            </div>
                       </div>
                        <div class="col-4 form-group" [ngClass]="{'has-danger': fDay.invalid && (fDay.dirty || fDay.touched)}">
                            <label class="control-label">From Day</label>
                            <input type="text" class="form-control"  #fDay="ngModel" placeholder="From Day"  [(ngModel)]="dayrange.fromDay"> 
                            <div *ngIf="fDay.invalid && (fDay.dirty || fDay.touched)">
                                <small class="form-control-feedback" *ngIf="fDay.errors.required">From Day is required.</small>
                             </div>
                        </div>
                        <div class="col-4 form-group" [ngClass]="{'has-danger': tDay.invalid && (tDay.dirty || tDay.touched)}">
                                <label class="control-label">To Day</label>
                                <input type="text" class="form-control"  #tDay="ngModel" placeholder="To Day"  [(ngModel)]="dayrange.tpDay"> 
                                <div *ngIf="tDay.invalid && (tDay.dirty || tDay.touched)">
                                    <small class="form-control-feedback" *ngIf="tDay.errors.required">From Day is required.</small>
                                 </div>
                            </div>
                 </div>
                <div class="row">
                        <div class="col-4 form-group" [ngClass]="{'has-danger': seAmt.invalid && (seAmt.dirty || seAmt.touched)}">
                            <label class="control-label">Stay Expense Amount</label>
                            <input type="text" class="form-control"  #seAmt="ngModel" placeholder="Stay Expense Amount"[(ngModel)]="dayrange.stayExpenseAmount"> 
                            <div *ngIf="seAmt.invalid && (seAmt.dirty || seAmt.touched)">
                                <small class="form-control-feedback" *ngIf="seAmt.errors.required">Stay Expense Amount is required.</small>
                            </div>
                        </div>
                        <div class="col-4 form-group" [ngClass]="{'has-danger': teAmt.invalid && (teAmt.dirty || teAmt.touched)}">
                            <label class="control-label">Travel Expense Amount</label>
                            <input type="text" class="form-control"  #teAmt="ngModel" placeholder="Travel Expense Amount"  [(ngModel)]="dayrange.travelExpenseAmount"> 
                            <div *ngIf="teAmt.invalid && (teAmt.dirty || teAmt.touched)">
                                <small class="form-control-feedback" *ngIf="teAmt.errors.required">Travel Expense Amount is required.</small>
                            </div>
                        </div>
                    </div>
                   
                </div>
                  
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning"  (click)="save();">Save</button>
                    <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
                </div>
            </ng-template>        