<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>12180927582-j365e17toaia0icfajdca4t3d59uat4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12180927582-j365e17toaia0icfajdca4t3d59uat4s</string>
	<key>API_KEY</key>
	<string>AIzaSyAP6Ia3RmTyi0e4sSBYaegZfpzrt53dWlU</string>
	<key>GCM_SENDER_ID</key>
	<string>12180927582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smart.office</string>
	<key>PROJECT_ID</key>
	<string>smartoffice-1521708470575</string>
	<key>STORAGE_BUCKET</key>
	<string>smartoffice-1521708470575.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12180927582:ios:c7eac6f6e01f93a3</string>
	<key>DATABASE_URL</key>
	<string>https://smartoffice-1521708470575.firebaseio.com</string>
</dict>
</plist>