.fa-1x{
    font-size:1.25rem;
}

div.show-image:hover img{
   opacity: 0.5;
}
div.show-image:hover button{
    display: inline-block;
}
div.show-image button {
    position:absolute;
    display:none;
    margin-left: -160px;
    margin-top: 85px;
}
 
