page-leave-approval {
    ion-card-header{
        background-color: #0284a8;
        color:#F7F7F7 !important;
    }
    ion-card-content,ion-item{
        background-color: #F7F7F7 !important;
    }  
}
