p.title{
    font-size: 0.7rem !important;
    color:#2e358f !important;
    text-transform: uppercase;
}
ion-row ion-col{
    font-size: 0.7rem !important; 
}
.avatar{
    height:60px !important;
    width:60px !important;
}