<ion-header>
  <ion-toolbar>
    <app-common-header title="My Leave"></app-common-header>
  </ion-toolbar> 
</ion-header>

<ion-content>
	<div *ngFor="let d of data">
		<ion-card class="d-ct" [routerLink]="['/leave/', d.id]"><ion-grid>
			<ion-row>
				<ion-col>
					<ion-label>
						<h2>{{d.leaveTypeCode}}</h2>
						<p>Start Date &nbsp;: {{d.startDt  | date:'dd/MM/yyyy'}}</p>
						<p>End Date &nbsp;: {{d.endDt  | date:'dd/MM/yyyy'}}</p>
						<p>Leave Type : {{d.leaveTypeName}}</p>
						<p>
							<ng-container [ngSwitch]="true">
							   <ng-container *ngSwitchCase="d?.leaveStatus=='CREATED' || d?.leaveStatus=='APPLIED' || d?.leaveStatus=='N1-APPROVAL-PENDING' || d?.leaveStatus=='N1-APPROVED' || d?.leaveStatus=='N2-APPROVAL-PENDING' || d?.leaveStatus=='N2-APPROVED'">
									<ion-chip outline color="warning">
									  <ion-label color="warning">{{d?.leaveStatus}}</ion-label>
									</ion-chip>
							   </ng-container>
							   <ng-container *ngSwitchCase="d?.leaveStatus=='N1-REJECTED' || d?.leaveStatus=='N2-REJECTED'">
									<ion-chip outline color="danger">
									  <ion-label color="danger">{{d?.leaveStatus}}</ion-label>
									</ion-chip>
							   </ng-container>
							   <ng-container *ngSwitchCase="d?.leaveStatus=='SETTLED'">
									<ion-chip outline color="tertiary">
									  <ion-label color="tertiary">{{d?.leaveStatus}}</ion-label>
									</ion-chip>
							   </ng-container>
							   <ng-container *ngSwitchCase="d?.leaveStatus=='APPROVED'">
									<ion-chip outline color="success">
									  <ion-label color="success">{{d?.leaveStatus}}</ion-label>
									</ion-chip>
							   </ng-container>
							   <ng-container *ngSwitchCase="d?.leaveStatus=='CANCELLED'">
									<ion-chip outline color="light">
									  <ion-label color="light">{{d?.leaveStatus}}</ion-label>
									</ion-chip>
							   </ng-container>
							   <ng-container *ngSwitchDefault>
									<ion-chip outline color="primary">
									  <ion-label color="primary">{{d?.leaveStatus}}</ion-label>
									</ion-chip>
							   </ng-container>
							</ng-container>
						
						
						
						</p>
					</ion-label>
				</ion-col>
				<ion-col size="1" class="ion-margin-horizontal chevron" style="vertical-align: middle;">
					<i class="fa fa-2x fa-chevron-right"></i>
				</ion-col>
			</ion-row>
		</ion-grid></ion-card>
	</div>
	
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/leave/create']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>