page-chat-home {
    ion-item{        
        h2{
            font-weight: 500 !important; 
        }
    }
    ion-note{
        color: #666 !important;
        font-size: 1.2rem;
        font-weight: 500;
    }
}
