<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Certificate Tracker List</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Home</a>
                </li>
                <li class="breadcrumb-item active">Certificate Tracker List</li>
            </ol>
         
                

        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->




<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">



                <div class="table-responsive m-t-40">
                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">



                        <thead>
                            <tr>
                                <th data-sort-initial="true" data-toggle="true">#</th>
                                <th data-sort-initial="true" data-toggle="true">Employee Name</th>
                                <th data-sort-initial="true" data-toggle="true">Score</th>
                                <th data-sort-initial="true" data-toggle="true">Issue Date</th> 
                                <th data-sort-initial="true" data-toggle="true">Options</th>


                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let row of certificates | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;let i=index ">
                                <td>{{i+1}}</td>
                                <td>{{row.fname}}</td>
                                <td>{{row.score}}</td>
                                <td>{{row.issueDt| date : 'dd-MM-yyyy'}}</td>
                               
                               
                                <td class="text-nowrap">
                                    <a href="javascript:void(0)" (click)="certificateDetail(row.id)" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                                </td>


                            </tr>
                          

                          
                        </tbody>
                    </table>
                    <ngb-pagination 
						[(page)]="page"
						[pageSize]="pageSize"
						[collectionSize]="certificates.length"></ngb-pagination>
						<pre>Current page: {{page}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>