
<ion-header>

        <ion-navbar>
          <ion-title>Expense Create Page</ion-title>
        </ion-navbar>
      
      </ion-header>
      
      
      <ion-content class="card-background-page">
            <ion-list>

                    <ion-item>
                      <ion-label>Reimbursement</ion-label>
                      <ion-toggle [(ngModel)]="expenseClaim.isBillable" disabled="false"></ion-toggle>
                    </ion-item>
                  
                          <ion-item>
                                <ion-label stacked>Job Combo</ion-label>
                                <ion-select [(ngModel)]="expenseClaim.jobId" (ionChange)="onChangeJob($event)"[disabled]="isCostCenter"  (ngModelChange)="valueIsJobCode();">
                                        <ion-option *ngFor="let l of jobs" [value]="l.id">{{l.jobCode}}</ion-option>
                                        

                                        
                                      </ion-select>
                              </ion-item>
                              <ion-item>
                                <ion-label stacked>Cost Center</ion-label>
                                <ion-select [(ngModel)]="expenseClaim.costCenterId" [disabled]="isJob"  (ngModelChange)="valueIsCostCode();">
                                        <ion-option *ngFor="let l of costCenters" [value]="l.id">{{l.ccCode}}</ion-option>
                                       
                                      </ion-select>
                              </ion-item>
                              <ion-item>
                                <ion-label stacked>Claim Amount</ion-label>
                                <ion-input type="text"   [(ngModel)]="expenseClaim.expenseClaimAmount"></ion-input>
                              </ion-item>
                              <ion-item>
                                    <ion-label stacked>Purpose</ion-label>
                                    <ion-input type="text"   [(ngModel)]="jobName"></ion-input>
                                  </ion-item>
                                  <ion-item>
                                        <ion-label stacked>Location</ion-label>
                                        <ion-input type="text" [(ngModel)]="location"></ion-input>
                                      </ion-item>
                                      <ion-item>
                                            <ion-label stacked>From Date</ion-label>
                                            <ion-datetime  displayFormat="DD-MMM-YY" pickerFormat="MMM-DD-YY" [(ngModel)]="fromDt" ></ion-datetime>
                                         
                                          </ion-item>
                                          <ion-item>
                                                <ion-label stacked>To Date</ion-label>
                                                <ion-datetime  displayFormat="DD-MMM-YY" pickerFormat="MMM-DD-YY"  [(ngModel)]="toDt"></ion-datetime>
                                             
                                              </ion-item>
                                              
                                          
                 </ion-list>
                 <button ion-button full (click)="createExpense()" (click)="expenseStartPage()">Create Expense Claim</button>
        </ion-content>
      