<div class="row page-titles">
	<div class="col-md-5 align-self-center">
		<h4 class="text-themecolor">Question Bank</h4>
	</div>
	<div class="col-md-7 align-self-center text-right">
		<div class="d-flex justify-content-end align-items-center">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">Question Bank</li>
				<li class="breadcrumb-item active">Add Questions</li >
			</ol>
			<button type="button" [disabled]="buttonDisabled==true" class="btn btn-info d-none d-lg-block m-l-15"(click)="addAndUpdate()">Save</button>

			<button type="button" class="btn btn-info d-none d-lg-block m-l-15" [routerLink]="['/recruitment/test-category']">Back</button>


		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<flag-alert [message]="saveMsg"></flag-alert>
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Add Question</h3>
				<div class="row">
					<div class="form-group col-3">
						<label class="textColor">Category Name</label><br/>
						<span class="text">{{category.testCategoryName}}</span>
					</div>
					<div class="form-group col-3" >
							<label class="textColor">Difficulty</label>
							<select [disabled]="isAdded==true" class="form-control custom-select" (click)="getQuestionsByCategory(category.id,level)" [(ngModel)]="level">
									<option value="EASY" >Easy</option>
									<option value="MEDIUM">Medium</option>
                                    <option value="TOUGH" >Tough</option>
                                    <option value="ALL" >All</option>
								</select>
						</div>
						<div class="form-group col-3" >
							<confirm-delete [type]="'submit'" [typeString]="'All Question'" (confirmed)="deleteAll()"></confirm-delete>
						</div>
				
						
						<div *ngIf="level!='ALL'" class="table-responsive">
							<table class="table table-striped  table-hover table-bordered" >
								<thead>
									<tr>
                                        <th>#</th>
										<th>Question</th>	
										<th>Option A</th>
										<th>Option B</th>
										<th>Option C</th>
										<th>Option D</th>
										<th>Right Option</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let item of questions | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let i=index">
                                        <td>{{i+1}}</td>
                                        <td>
											<textarea rows="5" type="text" class="form-control form-control-line" [(ngModel)]="item.question"  [ngModelOptions]="{standalone: true}" placeholder="Question"></textarea>
										</td>
										<td>
											<textarea type="text" class="form-control form-control-line" [(ngModel)]="item.option1"  [ngModelOptions]="{standalone: true}" placeholder="Option A"></textarea>
										</td>
										<td>
											<textarea type="text" class="form-control form-control-line" [(ngModel)]="item.option2"  [ngModelOptions]="{standalone: true}" placeholder="Option B"></textarea>
										</td>
										<td>
											<textarea type="text" class="form-control form-control-line" [(ngModel)]="item.option3"  [ngModelOptions]="{standalone: true}" placeholder="Option c"></textarea>
										</td>
										<td>
											<textarea type="text" class="form-control form-control-line" [(ngModel)]="item.option4"  [ngModelOptions]="{standalone: true}" placeholder="Option D"></textarea>
										</td>
										<td>
                                                <select class="form-control custom-select" [(ngModel)]="item.isCorrect" >
                                                        <option value="option1">A</option>
                                                        <option value="option2">B</option>
                                                        <option value="option3">C</option>
                                                        <option value="option4">D</option>
                                                    </select>
											</td>
									
										<td>
											<a href="javascript:void(0)" (click)="addQuestionRows()"><i class="fa fa-plus text-danger m-r-10"></i> </a>
											<confirm-delete [type]="'icon'" (confirmed)="delQuestionRow(item.id,i)"></confirm-delete>
											<!-- <a href="javascript:void(0)" (click)="delQuestionRow(item.id,i)"><i class="fa fa-close text-danger"></i></a> -->
										</td>
									</tr>
								</tbody>
                            </table>
                            <form class="pagination-wrapper">
                                    <div class="form-group pages">
                                      <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="2" directionLinks="true"
                                        autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                        screenReaderCurrentLabel="You're on page">
                                      </pagination-controls>
                                    </div>
                                   
                                  </form>
                        </div>
                        


                        <div *ngIf="level=='ALL'" class="table-responsive">
                                <table class="table table-striped  table-hover table-bordered" >
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Question</th>
                                            <th>Difficulty</th>	
                                            <th>Option A</th>
                                            <th>Option B</th>
                                            <th>Option C</th>
                                            <th>Option D</th>
                                            <th>Right Option</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of questions | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{item.question}}</td>
                                            <td><span class="label label-{{status[item.difficultyLevel]}}">{{item.difficultyLevel}}</span></td>
                                            <td>{{item.option1}}</td>
                                            <td>{{item.option2}}</td>
                                            <td>{{item.option3}}</td>
                                            <td>{{item.option4}}</td>
                                            <td *ngIf="item.isCorrect=='option1'"> A </td>
                                            <td *ngIf="item.isCorrect=='option2'"> B </td>
                                            <td *ngIf="item.isCorrect=='option3'"> C </td>
                                            <td *ngIf="item.isCorrect=='option4'"> D </td>
                                            <td *ngIf="item.isCorrect==''"> - </td>                                        
                                            <td>                                                
												<confirm-delete [type]="'icon'" (confirmed)="delQuestionRow(item.id,i)"></confirm-delete>
												<!-- <a href="javascript:void(0)" (click)="delQuestionRow(item.id,i)"><i class="fa fa-close text-danger"></i></a> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <form class="pagination-wrapper">
                                        <div class="form-group pages">
                                          <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="2" directionLinks="true"
                                            autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                            screenReaderCurrentLabel="You're on page">
                                          </pagination-controls>
                                        </div>
                                       
                                      </form>
                            </div>
					
				</div>				
			</div>
		</div>
	</div>
</div>


<style>
	.textColor {
		color: #0000FF;
	}
</style>