
<ion-content class="login-content">
    <ion-img src="assets/imgs/logo.png" class="m-20" alt="Logo"></ion-img>
    <ion-grid class="login-form">
      <ion-item-group class="email">
        <ion-item lines="none">
          <ion-button color="dark" slot="start"><i class="far fa-user"></i></ion-button>
          <ion-input type="text" name="email" [(ngModel)]="model.email" placeholder="Internal Id" autofocus="true"
            clear-input="true" required></ion-input>
        </ion-item>
      </ion-item-group>
    </ion-grid>
    <ion-row class="login-btn">
      <ion-col size="12">
        <ion-button type="submit" color="warning" expand="full" (click)="login()" strong="true" routerDirection="forward">
          Send</ion-button>
      </ion-col>
    </ion-row>
    <ion-grid>
    <ion-row class="bottom-link">
      <ion-col class="center">
        <p>Have an Password! <ion-label color="warning" (click)="navCtrl.back()">Login Now</ion-label>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>