
<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="attendance">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="hammer"></ion-icon>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>