<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h4 class="text-themecolor">Authorisation Setup</h4>
  </div>
  <div class="col-md-7 align-self-center text-right">
    <div class="d-flex justify-content-end align-items-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item active">Authorisation Setup</li>
      </ol>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card container">
    <div class="card-body text-center">
      <div class="card bg-light">
        <div class="align-self-center">
          <div class="card-body text-center">
            <p class="card-text"> <button type="button" style="align-self: center;"
                [routerLink]="['/authorisation/child/functionality']"
                class="btn btn-info d-block m-l-15">Functionality</button></p>
          </div>
        </div>
      </div>
      <div class="card bg-light">
        <div class="align-self-center">
          <div class="card-body text-center">
            <p class="card-text"><button type="button" [routerLink]="['/authorisation/child/feature']"
                class="btn btn-info d-block m-l-15">Feature</button></p>
          </div>
        </div>
      </div>
      <div class="card bg-light">
        <div class="align-self-center">
          <div class="card-body text-center">
            <p class="card-text"><button type="button" [routerLink]="['/authorisation/child/role']"
                class="btn btn-info d-block m-l-15">Role</button></p>
          </div>
        </div>
      </div>
      <div class="card bg-light">
        <div class="align-self-center">
          <div class="card-body text-center">
            <p class="card-text"><button type="button" [routerLink]="['/authorisation/child/RoleFeature']"
                class="btn btn-info d-block m-l-15">Role-Feature Mapping</button></p>
          </div>
        </div>
      </div>
      <div class="card bg-light">
        <div class="align-self-center">
          <div class="card-body text-center">
            <p class="card-text"><button type="button" [routerLink]="['/authorisation/child/UserType']"
                class="btn btn-info d-block m-l-15">User Type</button></p>
          </div>
        </div>
      </div>
      <div class="card bg-light">
        <div class="align-self-center">
          <div class="card-body text-center">
            <p class="card-text"><button type="button" [routerLink]="['/authorisation/child/User']"
                class="btn btn-info d-block m-l-15">User</button></p>
          </div>
        </div>
      </div>
      <div class="card bg-light">
        <div class="align-self-center">
          <div class="card-body text-center">
            <p class="card-text"><button type="button" [routerLink]="['/authorisation/child/menu']"
                class="btn btn-info d-block m-l-15">Menu</button></p>
          </div>
        </div>
      </div>
      <div class="card bg-light">
        <div class="align-self-center">
          <div class="card-body text-center">
            <p class="card-text"><button type="button" [routerLink]="['/authorisation/child/sub-menu']"
                class="btn btn-info d-block m-l-15">SubMenu</button></p>
          </div>
        </div>
      </div>
      <div class="card bg-light">
        <div class="align-self-center">
          <div class="card-body text-center">
            <p class="card-text"><button type="button" [routerLink]="['/authorisation/child/user-view']"
                class="btn btn-info d-block m-l-15">UserView</button></p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="card container">
    <div class="card-body text-center">
      <div class="card bg-light">
        <div class="card-body text-center">
          <p class="card-text">Functionality available in the system like expense-claim, advance-request,
            employee-profile etc</p>
        </div>
      </div>
      <div class="card bg-light">
        <div class="card-body text-center">
          <p class="card-text">Functionalities under a feature listed here Like create expense claim, approve, reject
            etc.</p>
        </div>
      </div>
      <div class="card bg-light">
        <div class="card-body text-center">
          <p class="card-text">Roles that are defined in the system like Employee, Manager, HR1 etc. Authorisation to
            features is provided on role-level</p>
        </div>
      </div>
      <div class="card bg-light">
        <div class="card-body text-center">
          <p class="card-text">Map all features applicable to role</p>
          <p></p>
        </div>
      </div>
      <div class="card bg-light">
        <div class="card-body text-center">
          <p class="card-text">Define usertypes like Contractor, customer etc</p>
          <p></p>
        </div>
      </div>
      <div class="card bg-light">
        <div class="card-body text-center">
          <p class="card-text">Lists User record</p>
          <p class="card-text"> </p>
        </div>
      </div>
      <div class="card bg-light">
        <div class="card-body text-center">
          <p class="card-text">List the menu items</p>
          <p class="card-text"> </p>
          <p></p>
        </div>
      </div>
      <div class="card bg-light">
        <div class="card-body text-center">
          <p class="card-text">List the submenu listed under each menu</p>
          <p class="card-text"> </p>
        </div>
      </div>
      <div class="card bg-light">
        <div class="card-body text-center">
          <p class="card-text">Display the menu items that will be generated for a user</p>
          <p class="card-text"> </p>
        </div>
      </div>
    </div>
  </div>
</div>