page-expense {
    
    ion-card-header{
        background-color: #0284a8;
        color:#F7F7F7 !important;
    }
    
    ion-card-content,ion-item{
                background-color: #F7F7F7 !important;
            }  
    h3{
        color: brown;
    }
    button ion-button  {
        color: brown;
    }

    .header > ion-col{
        font-size:16px;
        font-weight: bold;
        color: brown;
    }

    ion-content{
        background-color: snow !important;
    }

    ion-row.content:nth-child(even) {
        background: #d6e5f3;
    }
}
