<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Interview</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Home</a>
                </li>
                <li class="breadcrumb-item active">Recruitment</li>
                <li class="breadcrumb-item active">Interview</li>
            </ol>



        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" >
                            <label ngbButtonLabel class="btn btn-info waves-effect waves-light">
                              <input ngbButton type="radio" (click)="changeActive('true')"> Pending
                            </label>
                            <label ngbButtonLabel class="btn-primary">
                              <input ngbButton type="radio" (click)="changeActive('false')"> Complete
                            </label>
                          </div>

                <div *ngIf="binding=='true'" class="table-responsive m-t-40">
                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered"
                        cellspacing="0" width="100%">


                        <thead>
                            <tr>
                                <th data-sort-initial="true" data-toggle="true">#</th>
                                <th data-sort-initial="true" data-toggle="true">Candidate Name</th>

                                <th data-sort-initial="true" data-toggle="true">Incident Name</th>
                                <!-- <th data-sort-initial="true" data-toggle="true">Interview Date</th> -->
                                <th data-sort-initial="true" data-toggle="true">1st Level Status</th>
                                <th data-sort-initial="true" data-toggle="true">2nd Level Status</th>
                                <th data-sort-initial="true" data-toggle="true">3rd Level Status</th>
                                <th data-sort-initial="true" data-toggle="true">Final Decision</th>
                                <th data-sort-initial="true" data-toggle="true">Action</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let item of interviewTrackers | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;let i=index ">
                                <td>{{i+1}}</td>
                                <td>
                                    {{item.applicantName}}<applicant-detail-edit
                                    [childMessage]="item.applicant"></applicant-detail-edit>
                                </td>
                                <td>{{item.incidentName}} </td>
                                <!-- <td>{{item.interviewDate | date: 'dd-MM-yyyy'}}</td> -->
                                <td><span class="label label-{{statuses[item.firstInterviewerStatus]}}">{{item.firstInterviewerStatus}}</span></td>
                                <td><span class="label label-{{statuses[item.secondInterviewerStatus]}}">{{item.secondInterviewerStatus}}</span></td>
                                <td><span class="label label-{{statuses[item.thirdInterviewerStatus]}}">{{item.thirdInterviewerStatus}}</span></td>
                                <td><span class="label label-{{statuses[item.finalDecision]}}">{{item.finalDecision}}</span></td>
                                <td>
                                            <a *ngIf="isHr==true" ngbTooltip="View" [routerLink]="['/recruitment/interview/hr-view', item.id]" data-toggle="tooltip" data-original-title="Edit">
                                                <i class="fa fa-check-square-o text-info m-r-10"></i>
                                            </a>
                                   
                                    <a  [routerLink]="['/recruitment/interview/view', item.id]" ngbTooltip="Conduct Interview" data-toggle="tooltip" data-original-title="Close">
                                        <i class="fa fa-user-plus text-inverse"></i>
                                    </a>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                    <ngb-pagination 
						[(page)]="page"
						[pageSize]="pageSize"
						[collectionSize]="interviewTrackers.length"></ngb-pagination>
						<pre>Current page: {{page}}</pre>
                </div>   
                
                

                <div *ngIf="binding=='false'" class="table-responsive m-t-40">
                        <table id="example23" class="display nowrap table table-hover table-striped table-bordered"
                            cellspacing="0" width="100%">
    
    
                            <thead>
                                <tr>
                                    <th data-sort-initial="true" data-toggle="true">#</th>
                                    <th data-sort-initial="true" data-toggle="true">Candidate Name</th>
    
                                    <th data-sort-initial="true" data-toggle="true">Incident Name</th>
                                    <!-- <th data-sort-initial="true" data-toggle="true">Interview Date</th> -->
                                    <th data-sort-initial="true" data-toggle="true">1st Level Status</th>
                                    <th data-sort-initial="true" data-toggle="true">2nd Level Status</th>
                                    <th data-sort-initial="true" data-toggle="true">3rd Level Status</th>
                                    <th data-sort-initial="true" data-toggle="true">Final Decision</th>
                                    <th data-sort-initial="true" data-toggle="true">Action</th>
    
                                </tr>
                            </thead>
    
                            <tbody>
                                <tr *ngFor="let item of completedInterview | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;let i=index ">
                                    <td>{{i+1}}</td>
                                    <td>
                                        {{item.applicantName}} <applicant-detail-edit
                                        [childMessage]="item.applicant"></applicant-detail-edit>
                                    </td>
                                    <td>{{item.incidentName}} </td>
                                    <!-- <td>{{item.interviewDate | date: 'dd-MM-yyyy'}}</td> -->
                                    <td><span class="label label-{{statuses[item.firstInterviewerStatus]}}">{{item.firstInterviewerStatus}}</span></td>
                                    <td><span class="label label-{{statuses[item.secondInterviewerStatus]}}">{{item.secondInterviewerStatus}}</span></td>
                                    <td><span class="label label-{{statuses[item.thirdInterviewerStatus]}}">{{item.thirdInterviewerStatus}}</span></td>
                                    <td><span class="label label-{{statuses[item.finalDecision]}}">{{item.finalDecision}}</span></td>
                                    <td>
                                                <a *ngIf="isHr==true" ngbTooltip="View" [routerLink]="['/recruitment/interview/hr-view', item.id]" data-toggle="tooltip" data-original-title="Edit">
                                                    <i class="fa fa-check-square-o text-info m-r-10"></i>
                                                </a>
                                       
                                        <a  [routerLink]="['/recruitment/interview/view', item.id]" ngbTooltip="Conduct Interview" data-toggle="tooltip" data-original-title="Close">
                                            <i class="fa fa-user-plus text-inverse"></i>
                                        </a>
                                    </td>
    
                                </tr>
    
                            </tbody>
                        </table>
                        <ngb-pagination 
						[(page)]="page"
						[pageSize]="pageSize"
						[collectionSize]="completedInterview.length"></ngb-pagination>
						<pre>Current page: {{page}}</pre>
                    </div> 

            </div>
        </div>
    </div>
</div>