ion-card {
    margin-left: 16px;
    margin-right: 16px;
    }


// ion-content{
//     --ion-background-color: linear-gradient(90deg, rgba(7,15,68,1) 0%, rgba(130,58,171,1) 63%, rgba(106,32,191,1) 100%, rgba(89,99,140,1) 100%);
    
// }

// div{
//     background: linear-gradient(90deg, rgba(7,15,68,1) 0%, rgba(130,58,171,1) 63%, rgba(106,32,191,1) 100%, rgba(89,99,140,1) 100%);

// }

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
}
h2{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}


  
