<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Payroll Adjustment</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Home</a>
                </li>
                <li class="breadcrumb-item active">payroll Adjustment</li>
            </ol>

        </div>
    </div>
</div>

<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">

            <div class="card-body">
                <form action="#">
                    <div class="form-body">


                        <div class="row p-t-20">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Department</label>
                                    <select class="form-control custom-select">
                                        <option value="">Marketing Department</option>
                                        <option value="">Female</option>
                                    </select>

                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Employee</label>
                                    <select class="form-control custom-select">
                                        <option value="">1001-Abinitha</option>
                                        <option value="">Female</option>
                                    </select>

                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Month</label>

                                    <select class=" form-control custom-select">
                                        <option>January</option>
                                        <option value="1">February</option>
                                        <option value="2">March</option>
                                        <option value="3">April</option>
                                        <option value="4">May</option>
                                        <option value="5">June</option>
                                        <option value="6">July</option>
                                        <option value="7">August</option>
                                        <option value="8">September</option>
                                        <option value="9">October</option>
                                        <option value="10">November</option>
                                        <option value="11">December</option>

                                    </select>


                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">year</label>
                                    <div class="col-12">
                                        <select class=" form-control custom-select">
                                            <option>1999</option>
                                            <option value="1">2000</option>
                                            <option value="2">2001</option>
                                            <option value="3">2002</option>
                                            <option value="4">2003</option>
                                            <option value="5">2004</option>
                                            <option value="6">2005</option>
                                            <option value="7">2006</option>
                                            <option value="8">2007</option>
                                            <option value="9">2008</option>
                                            <option value="10">2009</option>
                                            <option value="11">2010</option>
                                            <option value="11">2011</option>

                                        </select>

                                    </div>

                                </div>
                            </div>


                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">&nbsp;</label>
                                    <div class="col-12">
                                        <button type="button" class="btn waves-effect waves-light btn-block btn-info">Submit</button>

                                    </div>

                                </div>
                            </div>



                            <!--/row-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>







<div class="row">
    <div class="col-lg-6">
        <div class="card ">

            <div class="card-body">
                <form action="#">
                    <div class="form-body">
                        <h3>
                            <b>Earnings</b>
                        </h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">

                                    <div class="col-md-12">

                                        <label for="inputText">CTC</label>

                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  row">

                                    <div class="col-md-12">
                                        <fieldset disabled>
                                            <input type="text" id="disabledTextInput" class="form-control" placeholder="20000">
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">

                                    <div class="col-md-12">
                                        <label for="inputText">House Rent Allowance</label>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  row">

                                    <div class="col-md-12">
                                        <fieldset disabled>
                                            <input type="text" id="disabledTextInput" class="form-control" placeholder="200">
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">

                                    <div class="col-md-12">
                                        <label for="inputText">Medical Allowance</label>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  row">

                                    <div class="col-md-12">
                                        <fieldset disabled>
                                            <input type="text" id="disabledTextInput" class="form-control" placeholder="300">
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">

                                    <div class="col-md-12">
                                        <label for="inputText">Conveyance</label>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">

                                    <div class="col-md-12">
                                        <fieldset disabled>

                                            <input type="text" id="disabledTextInput" class="form-control" placeholder="100">
                                        </fieldset>

                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">

                                    <div class="custom-control custom-checkbox ">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Special Allowance</label>
                                    </div>

                                </div>
                            </div>


                            <!--/span-->
                            <!-- 
                                                                                        <div class="form-check">
                                                                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                                                                <label class="form-check-label" for="defaultCheck1">
                                                                                                  Default checkbox
                                                                                                </label>
                                                                                            </div>
                                                                                       -->

                            <div class="col-md-6">
                                <div class="form-group  row">

                                    <div class="col-md-12">
                                        <input type="text" class="form-control " placeholder="Type Amount">
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Add Pay</label>
                                    </div>

                                </div>


                            </div>

                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  row">

                                    <div class="col-md-12">




                                        <input type="text" class="form-control " placeholder="Type Amount">
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->



                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Gratuity</label>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  row">

                                    <div class="col-md-12">
                                        <input type="text" class="form-control " placeholder="Type Amount">
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->



                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Annual Bonus</label>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  row">

                                    <div class="col-md-12">
                                        <input type="text" class="form-control " placeholder="Type Amount">
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Retention Bonus</label>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">

                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Type Amount">
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->


                    </div>
                </form>
            </div>
        </div>
    </div>








    <div class="col-lg-6">
        <div class="card  ">

            <div class="card-body">
                <form action="#">
                    <div class="form-body">
                        <h3>
                            <b>Deduction</b>
                        </h3>
                        <hr class="m-t-0 m-b-40">


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">

                                    <div class="col-md-12">
                                        <label for="inputText">ESI by Employee</label>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  row">

                                    <div class="col-md-12">
                                        <fieldset disabled>
                                            <input type="text" id="disabledTextInput" class="form-control" placeholder="50">
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">

                                    <div class="col-md-12">
                                        <label for="inputText">PF by Employee</label>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group  row">

                                    <div class="col-md-12">
                                        <fieldset disabled>
                                            <input type="text" id="disabledTextInput" class="form-control" placeholder="Amount">
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Deduct Advance</label>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">

                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Type Amount">
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->



                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Other Deduction</label>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">

                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Type Amount">
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





<div class="row">
    <div class="col-lg-12">
        <div class="card ">

            <div class="card-body">
                <form action="#">
                    <div class="form-body">
                        <h3>
                            <b>Summary</b>
                        </h3>
                        <hr>
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Total Earnings</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="600">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">CTC</label>
                                    <input type="text" id="lastName" class="form-control" placeholder="20000">
                                </div>
                            </div>
                            <!--/span-->
                        </div>

                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Total Deduction</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="50">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Net Salary</label>
                                    <input type="text" id="lastName" class="form-control" placeholder="20650">
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">


                                    <button type="button" (click)="listPayroll()" class="btn waves-effect waves-light btn-success">Save payment Adjustment</button>

                                </div>
                            </div>
                            <!--/span-->
                        </div>


                        <!--/row-->
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>