<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor"> FAQ </h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active"> FAQ </li>
            </ol>
  
            <button type="button" class="btn btn-info d-none d-lg-block m-l-15" (click)="newFaq()" >
                <i class="fa fa-plus-circle"></i> Create New</button>
        </div>
    </div>
</div>

<div class="card">
    <div align="right" class="align-self-right">
        <button type="button" class="btn btn-info d-none d-lg-block m-l-15" (click)="backToMain()"> Back</button>
    </div>
    <div class="text-center">
        <h1 class="box-title m-b-0">{{faqCategory.name}}</h1>
    </div>
    <div class="card-body">

        <div  *ngFor="let faq of faqs" class="row text-center">
            <div class="col-md-12 w-50 p-3">
                <h3 [routerLink]="['/faq/faq-detail/','view',faq.id]" class="box-title m-b-0">
                    <font color="blue"> <i class="fa fa-star " aria-hidden="true"></i> </font>{{faq.header}}
                </h3> 
                    <font color="orange"> <i class="fa fa-pencil"
                [routerLink]="['/faq/faq-detail/','edit',faq.id]" aria-hidden="true"></i> </font> 
            </div>
                   
        </div>



    </div>
</div>


<ng-template #create let-c="close">
    <div class="modal-header">
        <h4 *ngIf="faq.id==null" class="modal-title">Create FAQ Category</h4>

        <button type="button" class="close" aria-label="Close" (click)="c()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-md-5">
                <label>Title</label>
                <input type="text" class="form-control form-control-line" placeholder="FAQ Title"
                    [(ngModel)]="faq.header" name="code">
            </div>
        </div>
       

    </div>
    <div class="modal-footer">
        <ng-container>
            <button type="button" [disabled]="faq.header==null || faq.header=='' " (click)="createFaq()"
                class="btn btn-outline-success">Create</button>
        </ng-container>
    </div>
</ng-template>