<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Item Master</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Item Master</li>
            </ol>
            <button type="button" class="btn btn-info d-none d-lg-block m-l-15" [routerLink]="['/transaction/item-master/new']" ><i class="fa fa-plus-circle"></i> Create</button>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form action="#">
                    <div class="form-body">
                        <div class="row p-t-20">
                            <div class="form-group col-md-2">
                                <input type="text" id="itemCode" class="form-control" [(ngModel)]="itemCode" placeholder="Item Code" name="Item Code">
                            </div> 
                            <div class="form-group col-md-2">
                                <input type="text" id="referenceNumber"  class="form-control" [(ngModel)]="referenceNumber" placeholder="Reference number" name="Reference number">
                            </div>
                            <div class="form-group col-md-2">
                                <input type="text" id="forPurchase"  class="form-control" [(ngModel)]="forPurchase" placeholder="Purchase" name="Purchase">
                            </div>
                            <div class="form-group col-md-2">
                                <input type="text" id="hsnSacCode"  class="form-control" [(ngModel)]="hsnSacCode" placeholder="HSN/SAC Code" name="HSN/SAC Code">
                            </div>
                            <div class="form-group col-md-2">
                                <input type="text" id="itemName"  class="form-control" [(ngModel)]="itemName" placeholder="Item Name" name="Item Name">
                            </div>
                            <div class="form-group col-md-3">
                                <button type="button" style="width:70%" class="btn btn-info d-block m-l-10" (click)="search()"> Search</button>
                            </div>
                            <div class="form-group col-md-3">
                                <button type="button" style="width:70%" class="btn btn-info d-block m-l-10" (click)="reset()"> Reset</button>
                            </div>
                        </div>    
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

 
<div class="row">
    <div class="col-12 card card-body">     
<br>
      <div class="container">
        <div class="table-responsive">
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Item Code</th>
                <th>reference Number</th>
                <th>For Purchase</th>        
                <th>For Sale</th>
                <th>HSN/SAC Code</th>
                <th>Item Name</th>
                <th>Unit Price</th>
                <th>Action</th>             
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of items | slice: (upage-1) * upageSize : (upage-1) * upageSize + upageSize;let i=index">
                <td>{{i+1}}</td>
                <td>{{row.itemCode}}</td>
                <td>{{row.referenceNumber}}</td>
                <td>{{row.forPurchase}}</td>
                <!-- <td *ngIf="row.forPurchase=='false'">N</td> -->
                <td>{{row.forSale}}</td>
                <!-- <td *ngIf="row.forSale=='false'">N</td> -->
                <td>{{row.hsnSacCode}}</td>  
                <td> {{row.itemName}}</td>    
                <td>{{row.unitPrice}}</td>     
                <td>
                        <a href="javascript:void(0)" placement="top" [routerLink]="['/transaction/item-master/view/',row.id]" ngbTooltip="Edit Profile"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                        <confirm-delete [type]="'icon'" (confirmed)="deleteRow(row.id)"></confirm-delete>
                    </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
            <ngb-pagination [(page)]="upage" [pageSize]="upageSize" [collectionSize]="items.length">
            </ngb-pagination>
            <pre>Current page: {{upage}}</pre>
        </div>
    </div>
    </div>
  </div>
  <flag-alert [message]="saveMsg"></flag-alert>   