<!-- <div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Web Applications List</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Web Applications List </li>
            </ol>
        </div>
    </div>
</div>
<div class="card card-body" *ngFor="let c of job | keyvalue">
    <div class="row m-t-10">
        <div class="card-title col-10">
            <h4><span class="text"><strong>
                        <font color="orange">{{c.value.jrCode}}&nbsp;</font>
                        <font color="navy">&nbsp;{{c.value.summary}}</font>
                    </strong></span></h4>
        </div>
    </div>
    <form>
        <div class="modal-body">
            <div class="row">

                <div class="form-group col-md-2 ">
                    <label class="control-label">
                        <font color="blue">Position available</font>
                    </label><br />
                    <span>{{c.jobCount}}</span>
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label">
                        <font color="blue">Applications received</font>
                    </label><br />
                    <span>{{c.value.totalApplnCount}}</span>
                </div>
                <div class="form-group col-sm-2 ">
                    <label class="control-label">
                        <font color="blue">Application Validated</font>
                    </label><br />
                    <span>{{c.value.validatedCount}}</span>
                </div>
                <div (click)="navigateToValidation(c.id)" ngbTooltip="Application Validated"
                    class="form-group col-sm-1">
                    <a class="btn btn-info"><i class="fa fa-filter"></i></a>
                </div>              
            </div>
        </div>
    </form>
</div> -->

<h1>Working...!!!</h1>