<div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Customer Profile</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0)">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Customer Profile</li>
                    <li class="breadcrumb-item active">Edit Profile</li>
                </ol>
                
                    
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <form action="#">
        <div class="form-body">
            <div class="row ">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row p-t-20">
                                <div class="col-md-4">

                                        <img src="./assets/img/client/1.gif" alt="homepage"  />
                                </div>
                                <!--/span-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" id="firstName" class="form-control" placeholder="Client Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="clientName" value="Sundar M"  class="form-control" placeholder="Name of Primary Contact Person">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="firstName" value="Director-Operations"  class="form-control" placeholder="Designation of Primary Contact Person">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" id="firstName" value="General Electric" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="firstName" value="sundar@ge.com" class="form-control" placeholder="Primary Email ID">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="firstName" value="9876543210" class="form-control" placeholder="Primary Phone Number">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="card">

                        <div class="card-body">
                            <h3 class="box-title">Business Domain</h3>
                            <hr>
                            <div class="row p-t-20">

                                <!--/span-->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="checkbox checkbox-success">
                                            <input id="checkbox33" checked type="checkbox">
                                            <label for="checkbox33">OEM </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox checkbox-success">
                                            <input id="checkbox33" type="checkbox">
                                            <label for="checkbox33">Utilities </label>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="checkbox checkbox-success">
                                            <input id="checkbox33" type="checkbox">
                                            <label for="checkbox33">Service Provider</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox checkbox-success">
                                            <input id="checkbox33" type="checkbox">
                                            <label for="checkbox33">Industry</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="checkbox checkbox-success">
                                            <input id="checkbox33" type="checkbox">
                                            <label for="checkbox33">OEM's Channel Partner</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox checkbox-success">
                                            <input id="checkbox33" type="checkbox">
                                            <label for="checkbox33">Institutions</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="checkbox checkbox-success">
                                            <input id="checkbox33" type="checkbox">
                                            <label for="checkbox33">Contractor</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox checkbox-success">
                                            <input id="checkbox33" type="checkbox">
                                            <label for="checkbox33">Others</label>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->

                                <button type="button" class="btn btn-info d-none d-lg-block m-l-15">
                                    <i class="fa fa-plus-circle"></i> Add More Tags</button>
                            </div>

                        </div>


                    </div>

                    <div class="card">

                        <div class="card-body">
                            <h3 class="box-title">Contact Informations</h3>
                            <hr>
                            <div class="row ">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <input type="text" class="form-control" value="5734,Airport Rd,Chennai" placeholder="Address">
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="Tamil nadu" placeholder="State">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="India" placeholder="Country">
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="600006" placeholder="Pincode">
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="9876543210" placeholder="Phone Number">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card">

                            <div class="card-body">
                                <h3 class="box-title">Banking Information</h3>
                                <hr>
                                <div class="row ">
                                        <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="A/C Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="A/C Name">
                                                </div>
                                            </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Bank Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Bank Branch">
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="IFSC Code">
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Other..">
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-info d-none d-lg-block m-l-15">
                                        <i class="fa fa-plus-circle"></i> Add More</button>
                            </div>
                        </div>

                        <div class="card">

                                <div class="card-body">
                                    <h3 class="box-title">Billing Information</h3>
                                    <hr>
                                    <div class="row ">
                                            <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="GST No">
                                                    </div>
                                                </div>
                                             
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Bank Name">
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="TAN/PAN">
                                            </div>

                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>

                </div>

            </div>
        </div>
    </form>
   

