<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Payment Terms</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Payment Terms</li>
            </ol>
            <button type="button" class="btn btn-info d-none d-lg-block m-l-15" (click)="create();"><i class="fa fa-plus-circle"></i> Create New</button>
        </div>
    </div>
</div>
<div class="col-lg-12">
        <div class="card">
            <div class="card-body">
            <flag-alert [message]="saveMsg"></flag-alert>
               <div class="table-responsive">
                    <table class="table color-bordered-table theme-bordered-table">
                        <thead>
                            <tr>
                                <th data-sort-initial="true" data-toggle="true">#</th>
                                <th data-sort-initial="true" data-toggle="true">Payment Code</th>
                                <th data-sort-initial="true" data-toggle="true">Payment Name</th>
                                <th data-sort-initial="true" data-toggle="true">Payment Desc</th>
                                <th data-sort-initial="true" data-toggle="true">Is Enabled</th>
                                <th data-sort-initial="true" data-toggle="true">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let row of rows | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;let i=index ">
                                    <td>{{i+1}}</td>
                                    <td>{{row.ptCode}}</td>
                                    <td>{{row.ptName}}</td>
                                    <td>{{row.ptDesc}}</td>
                                    <td>{{row.isEnabled}}</td>
                                    <td class="text-nowrap">
                                        <a href="javascript:void(0)"><i class="fa fa-pencil text-inverse m-r-10" (click)="show(row.id);"></i> </a>
                                        <confirm-delete [type]="'icon'" (confirmed)="delete(row.id)"></confirm-delete>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ngb-pagination 
                        [(page)]="page"
                        [pageSize]="pageSize"
                        [collectionSize]="rows.length"></ngb-pagination>
                        <pre>Current page: {{page}}</pre>
                </div>
            </div>
        </div>
    </div>  

    <ng-template #cdetail let-c="close">
        <div class="modal-header">
            <h3 class="modal-title">Payment Terms</h3>
            <button type="button" class="close" (click)="c()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-4 form-group">
                    <label class="control-label">Payment Code</label>
                    <input type="text" class="form-control" placeholder="Payment Code"  [(ngModel)]="paymentTerms.ptCode">
               </div>
               <div class="col-4 form-group">
                <label class="control-label">Payment Name</label>
                <input type="text" class="form-control" placeholder="Payment Name"  [(ngModel)]="paymentTerms.ptName">
           </div>
           <div class="col-4 form-group">
                <label class="control-label">Payment Desc</label>
                <input type="text" class="form-control" placeholder="Payment Desc"  [(ngModel)]="paymentTerms.ptDesc">
               </div>
         </div>
        <div class="row">
               <div class="col-4 form-group">
                <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="read[0]"   [(ngModel)]="paymentTerms.isEnabled" name="isEnabled">
                <label class="custom-control-label" for="read[0]">Is Enabled</label>
                </div>
            </div>
            </div>
           
        </div>
          
        <div class="modal-footer">
            <button type="button" class="btn btn-warning"  (click)="save();">Save</button>
            <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
        </div>
    </ng-template>        