<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title >N+1 Manager Update </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Hi  <span th:text="${empName}"></span>
        </p>
         <p>
           Your N+1 Manager Has Been Updated. Your New N+1 Manager will be 
           <span th:text="${managerName}"></span>
        </p>
        
          <p>
           Please logon to http://35.198.238.141/smart-office/login for further information.
           
        </p>
      
        <p>
            Regards, <br />
            <em>Pothigai Power Solutions Private Limited.</em>
        </p>
    </body>
</html>