<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title >Password Change </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Hi   <span th:text="${userName}"></span>
        </p>
         <p>
           Your Password Has Been Changed. Your New Login Password is  <span th:text="${password}"></span>
           
        </p>
        
          <p>
           Please logon to http://35.198.238.141/smart-office/login for further information.
           
        </p>
      
        <p>
            Regards, <br />
            <em>Pothigai Power Solutions Private Limited.</em>
        </p>
    </body>
</html>