<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title >Job Creation Successfull </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Hi <span th:text="${clientName}"></span>
        </p>
         <p>
          Job Has been Created Successfully. 
           
        </p>
        
          <p>
           Please logon to <span th:text="${smartofficeUrl}"></span> for further information.
           
        </p>
      
        <p>
            Regards, <br />
            <em>Pothigai Power Solutions Private Limited.</em>
        </p>
    </body>
</html>