<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title >TEST COMPLETE </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Hi  <span th:text="${applicantname}"></span>
        </p>
         <p>
             You have been <span th:text="${testResult}"></span> in Pothigai Power Solutions Private Limited Examination.
             the Next interview schedule will be updated soon 
        </p>
        <p>
            Regards, <br />
            <em>Pothigai Power Solutions Private Limited.</em>
        </p>
    </body>
</html>
