<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Authorisation</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Role-Feature Mapping</li>
            </ol>
            <button type="button" class="btn btn-info d-none d-lg-block m-l-15"
            [routerLink]="['/authorisation/setup']">Back</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-4 form-group">
                        <label class="control-label">Role Name</label>
                        <select class="form-control" [(ngModel)]="roleId">
                            <option *ngFor="let r of role" [value]="r.id">{{r.roleName}}</option>
                        </select>
                    </div>
                    <div class="col-4 form-group">
                        <label class="control-label">Feature Name</label>
                        <input style="border: 1px solid grey;" id="typeahead-focus" type="text"
                    class="form-control" [ngbTypeahead]="searchFeatures"
                    [resultTemplate]="featureResultTemplate" [inputFormatter]="featuresFormatter"
                    placeholder="Search Feature" (selectItem)="onFeatureSelect($event)"
                    [value]="featureName" [editable]='false' ngbtypeaheadpopup>
                <ng-template #featureResultTemplate let-r="result" let-t="term">
                    {{r.functionalityName}} - {{r.featureName}}
                </ng-template>
                    </div>

                    <div class="col-2 form-group">
                        <label ></label>
                        <button type="button" (click)="search()" class="btn btn-success d-none d-lg-block m-l-15">Search</button>
                    </div>

                    <div class="col-2 form-group">
                        <label ></label>
                        <button type="button" (click)="showDetail('new')" class="btn btn-warning d-none d-lg-block m-l-15">Create</button>
                    </div>

                </div>

                </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <flag-alert [message]="saveMsg"></flag-alert>
                <div class="table-responsive">
                    <table class="table color-bordered-table info-bordered-table">
                        <thead>
                            <tr>
                                <th data-sort-initial="true" data-toggle="true">Id</th>
                      
                                <th data-sort-initial="true" data-toggle="true">Role Name</th>
                                <th data-sort-initial="true" data-toggle="true">Auth Feature Name</th>
                                <th data-sort-initial="true" data-toggle="true">Action</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr *ngFor="let r of authRole | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;let i=index">
                                <td>{{i+1}}</td>
                                <td>{{r.roleName}}</td>
                                <td>{{r.featureName}}</td>
                                <td class="text-nowrap">
                                    <a href="javascript:void(0)" (click)="showDetail(r.id);">
                                        <i class="fa fa-pencil text-inverse m-r-10"></i>
                                    </a>
                                    <confirm-delete [type]="'icon'" (confirmed)="deleteRow(r.id)"></confirm-delete>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ngb-pagination 
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="authRole.length"></ngb-pagination>
            <pre>Current page: {{page}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #popup let-c="close">
    <div class="modal-header">
        <h4 class="modal-title">Role-Feature Mapping Detail</h4>
        <button type="button" class="close" aria-label="Close" (click)="c()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-4 form-group">
                <label class="control-label">Role Name</label>
                <select class="form-control" [(ngModel)]="authRoles.authRoleId">
                    <option *ngFor="let r of role" [value]="r.id">{{r.roleName}}</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label class="control-label">Feature Name</label>
                <input style="border: 1px solid grey;" id="typeahead-focus" type="text"
                    class="form-control" [ngbTypeahead]="searchFeatures"
                    [resultTemplate]="featureResultTemplate2" [inputFormatter]="featuresFormatter"
                    placeholder="Search Feature" (selectItem)="onFeatureSelect2($event)"
                    [value]="authRoles.authFeature" [editable]='false' ngbtypeaheadpopup>
                <ng-template #featureResultTemplate2 let-r="result" let-t="term">
                    {{r.functionalityName}} - {{r.featureName}}
                </ng-template>
            </div>
        </div>
    </div>
    <div class="modal-footer align-self-center">
        <button type="button" class="btn btn-warning" (click)="save()">Save</button>
    </div>
</ng-template>