<div class="row page-titles">
	<div class="col-md-5 align-self-center">
		<h4 class="text-themecolor">Role Access</h4>
	</div>
	<div class="col-md-7 align-self-center text-right">
		<div class="d-flex justify-content-end align-items-center">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
				<li class="breadcrumb-item active">Role Access </li>
			</ol>
			<a href="javascript:void(0);" [routerLink]="['/org-settings/role-access/1']"><button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i>  Create New Role</button></a>
		</div>
	</div>
</div>
    
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
			   <flag-alert [message]="saveMsg"></flag-alert>
			   
			   <div class="table-responsive m-t-10">
					<table class="table table-sm table-hover table-striped table-bordered color-bordered-table theme-bordered-table">
						<thead>
							<tr>
								<th>RoleName</th>
								<th>Description</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>HR</td>
								<td>HR Role</td>
								<td class="text-nowrap">
									<a title="Edit" [routerLink]="['/org-settings/role-access/1']"> <i class="fa fa-pencil m-r-10 text-warning"></i> </a>
									<a href="javascript:void(0)" title="Delete" (click)="deleteFY(ra);"> <i class="fa fa-close text-danger"></i> </a>
								</td>
							</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
    
<ng-template #cdelete let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Are you sure want to Delete?</h4>
    <button type="button" class="close" aria-label="Close" (click)="c()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
 <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="confirmDelete(modalData)">OK</button>
    <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
  </div>
</ng-template>