page-calendar-events {

    ion-col{
        padding: 6px 3px !important;
        color: black;
        margin-top: auto !important;
        margin-bottom: auto !important;
    }
    ion-card{
        background-color: #c8b5eb !important;
    }
    ion-card.leave-card{
        background-color: #ec9898 !important;
    }

}
