page-attendance {
    .scroll {
        height: 100%
    }
    
    agm-map {
        width: 100%;
        height: 60%;
    }
    ion-card-title{
        color: #257705 !important;
    }
    ion-row {
        color:#000;

        ion-col:first-child{
            font-weight: bold;
        }
    }
}
