<div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Provident Fund</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Provident Fund</li>
                </ol>
                <a href="javascript:void(0)" (click)="navigateToDetailPage()"> <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Add provident</button></a>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
   
    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                  
                   
                   
                    <div class="table-responsive m-t-40">
                        <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            
                            
                                <thead>
                                        <tr>
                                            <th data-sort-initial="true" data-toggle="true">Employee Name</th>
                                            <th data-sort-initial="true" data-toggle="true">Provident Fund Type</th>
                                            <th data-sort-initial="true" data-toggle="true">Employee Share</th>
                                            <th data-sort-initial="true" data-toggle="true">Organisation Share</th>
                                            <th>status</th>
                                            <th data-sort-initial="true" data-toggle="true">Action</th>
                                            
                                        </tr>
                                    </thead>
                                  
                                   
                                    <tbody>
                                            <tr>
                                                <td>Chokkalinga Pandian</td>
                                                <td>percentage of basic salary</td>
                                                <td>2%</td>
                                                <td>2%</td>
                                                
                                                          
                                                <td><span class="label label-warning">Pending</span> </td>
                                                        
                                                 <td class="text-nowrap">
                                                        <a href="javascript:void(0)" (click)="navigateToDetailPage()" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                        <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                                                    </td>
                                            </tr>
                                            <tr>
                                                <td>Dinakarasu</td>
                                                <td>Fixed Amount</td>
                                                <td>Rs.1000</td>
                                                <td>Rs.1000</td>
                                                        
                                                <td><span class="label label-success">Approved</span> </td>

                                                <td class="text-nowrap">
                                                        <a href="javascript:void(0)" (click)="navigateToDetailPage()" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                        <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                                                    </td>
                                            </tr>
                                            <tr>
                                                <td>Chandan</td>
                                                <td>percentage of basic salary</td>
                                                <td>2%
                                                </td>
                                                <td>2%</td>
                                                         
                                                <td><span class="label label-success">Approved</span> </td>

                                                
                                                <td class="text-nowrap">
                                                        <a href="javascript:void(0)" (click)="navigateToDetailPage()" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                        <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                                                    </td>
                                            </tr>
                                            <tr>
                                                <td>Gaurav</td>
                                                <td>Fixed Amount</td>
                                                
                                                <td>500%</td>
                                                <td>500%</td>
                                                       
                                                <td><span class="label label-warning">Pending</span> </td>

                                                
                                                <td class="text-nowrap">
                                                        <a href="javascript:void(0)" (click)="navigateToDetailPage()" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                        <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                                                    </td>
                                                
                                            </tr>
                                            <tr>
                                                <td>Aparna</td>
                                                <td>Percentage of basic salary</td>
                                                <td>5%</td>
                                                <td>5%</td>
                                                       
                                                <td><span class="label label-success">Approved</span> </td>
                                                        
                                                
                                                <td class="text-nowrap">
                                                        <a href="javascript:void(0)" (click)="navigateToDetailPage()" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                        <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                                                    </td>
                                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    