<ion-header>
  <ion-toolbar>
    <app-subpage-header title="Create TAR"></app-subpage-header>
  </ion-toolbar> 
</ion-header>

<h6 class="ion-margin-horizontal">Travel Advance Request</h6>

<ion-content>
	<ion-list>
	  <ion-item>
		<ion-label>Has Job</ion-label>
		<ion-toggle slot="end" color="success" [(ngModel)]="data.jobCode"></ion-toggle>
	  </ion-item>
	  <ion-item *ngIf="data.jobCode">
		<ion-label class="content" position="floating"><h2>Jobs Code</h2></ion-label>
		<ion-select interface="popover" class="selector" okText="Okay" cancelText="Dismiss" [(ngModel)]="data.jobId">
		  <ion-select-option *ngFor="let j of jobCodes" [value]="j.jobId"  class="option">{{j.jobName}}</ion-select-option>
		</ion-select>
	  </ion-item>
	  <ion-item *ngIf="!data.jobCode">
		<ion-label class="content" position="floating"><h2>Cost Center Code</h2></ion-label>
		<ion-select interface="popover" class="selector" okText="Okay" cancelText="Dismiss" [(ngModel)]="data.costCenterId">
		  <ion-select-option *ngFor="let j of costCenters" [value]="j.id"  class="option" >{{j.ccName}}</ion-select-option>
		</ion-select>
	  </ion-item>
	   <ion-item>
		<ion-label position="floating"><h2>Day Range</h2></ion-label>
		<ion-select okText="Okay" cancelText="Dismiss"  [(ngModel)]="data.dayRangeId">
		  <ion-select-option *ngFor="let j of dayRanges" [value]="j.id">{{j.dayRangeName}}</ion-select-option>
		</ion-select>
	  </ion-item>
	   <ion-item>
		<ion-label position="floating"><h2>Required Advance Amount</h2></ion-label>
		<ion-input placeholder="Amount" [(ngModel)]="data.reqAdvAmt"></ion-input>
	  </ion-item>
	  <ion-item>
		<ion-label position="floating"><h2>Purpose</h2></ion-label>
		<ion-input placeholder="purpose" [(ngModel)]="data.empRemarks"></ion-input>
	  </ion-item>
	   <ion-item>
		<ion-label>Travel Involved</ion-label>
		<ion-toggle slot="end" color="warning" [(ngModel)]="data.isTravel"></ion-toggle>
	  </ion-item>
	</ion-list>
	
	<ion-grid>
	  <ion-row>
		<ion-col>
			<ion-button expand="block" size="large" (click)="createTar();">Apply</ion-button>
		</ion-col>
	  </ion-row>
  </ion-grid>
	
</ion-content>