<ion-header>
  <ion-toolbar>
    <app-subpage-header title="TAR Detail"></app-subpage-header>
  </ion-toolbar> 
</ion-header>

<h6 class="ion-margin-horizontal">Travel Advance Request</h6>
<ion-content>
	<ion-list>
	  <ion-item>
		<ion-label>
			<h2>TAR Code</h2>
			<p>{{data?.tarCode}}</p>
		</ion-label>
	  </ion-item>
	  <ion-item>
		<ion-label>
			<h2>Employee</h2>
			<p>{{data?.employeeName}}</p>
		</ion-label>
	  </ion-item>
	  <ion-item>
		<ion-label>
			<h2>Status</h2>
			<p><ion-chip outline [color]="data?.statusColor">
				  <ion-label [color]="data?.statusColor">{{data?.tarStatus}}</ion-label>
				</ion-chip></p>
		</ion-label>
	  </ion-item>
	  <ion-item>
		<ion-label>
			<h2>Application Date</h2>
			<p>{{data?.tarSubmittedDt | date: 'dd/MM/yyyy'}}</p>
		</ion-label>
	  </ion-item>
	  <ion-item [hidden]="isHidden">
		<ion-label>
			<h2>Job Name</h2>
			<p>{{data?.jobCode}}</p>
		</ion-label>
	  </ion-item>
	  <ion-item [hidden]="!isHidden">
		<ion-label>
			<h2>Center Code</h2>
			<p>{{data?.costCenterCode}}</p>
		</ion-label>
	  </ion-item><ion-item>
		<ion-label>
			<h2>Day Range</h2>
			<p>{{data?.dayRangeName}}</p>
		</ion-label>
	  </ion-item>
	  <ion-item>
		<ion-label>
			<h2>Required Advance Amount</h2>
			<p>{{data?.reqAdvAmt}}</p>
		</ion-label>
	  </ion-item>
	  <ion-item>
		<ion-label>
			<h2>Purpose</h2>
			<p>{{data?.empRemarks}}</p>
		</ion-label>
	  </ion-item>
	  <ion-item>
		<ion-label>
			<h2>Travel Involved</h2>
			<p>{{data?.isAddlTravelInvolved == 'N'? "No" : "Yes"}}</p>
		</ion-label>
	  </ion-item>
	</ion-list>
</ion-content>