

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Purchase Order View</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item active">Purchase Order View</li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 card card-body">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <font size="5">
                        <strong>{{purchaseOrder.vendorName}}</strong>
                    </font>
                </div>
                
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    Billing Address
                    <address>
                        <strong>{{purchaseOrder.address}}</strong>
                        <br>
                        <br> Phone:{{purchaseOrder.phoneNumber}}
                        <br> Email:{{purchaseOrder.emailId}}
                    </address>

                     Supplier's Ref./Order No.:{{purchaseOrder.supplierRefNumber}}
                    <br> Other Reference:{{purchaseOrder.otherRefNumber}}
                    <br> Despatch through:{{purchaseOrder.despatchThrough}}
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <h3>Purchase Ref#        <span class="label label-info"> {{purchaseOrder.poRefNumber}}</span></h3>
                    <br>
                    <b>Order Date:</b> {{purchaseOrder.poDt | date : "dd/MM/yyyy" }}
                    <br>
                    <b>Billing Remarks:</b>{{purchaseOrder.billingRemarks}}
                    <br>
                    <b>Due Date : </b>{{purchaseOrder.paymentDueDt | date : "dd/MM/yyyy"}}
                    <br>
                    <br> Destination:{{purchaseOrder.destination}}
                    <br> Terms of Delivery:{{purchaseOrder.deliveryTerms}}
                </div>
            </div>


            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Sl.No</th>
                            <th>Product</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Qty</th>
                            <th>Discount</th>
                            <th>CGST</th>
                            <th>SGST</th>
                            <th>IGST</th>
                            <th>Subtotal (Rs.)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr>
                            <td>1</td>
                            <td>Cocoa Coffee 280G Box PKG</td>
                            <td>-</td>
                            <td>8.50</td>
                            <td>500</td>
                            <td>Rs. 0.00
                                <br>(0%)</td>
                            <td>255.00
                                <br>(6%)</td>
                            <td>255.00
                                <br>(6%)</td>
                            <td>0.00</td>
                            <td>Rs. 4,760.00</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Green Coffee-Plain 40G Box PKG</td>
                            <td>-</td>
                            <td>7.80</td>
                            <td>5000</td>
                            <td>Rs. 0.00
                                <br>(0%)</td>
                            <td>2,340.00
                                <br>(6%)</td>
                            <td>2,340.00
                                <br>(6%)</td>
                            <td>0.00</td>
                            <td>Rs. 43,680.00</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Black Tea-Lemon 80G Box PKG</td>
                            <td>-</td>
                            <td>7.80</td>
                            <td>2500</td>
                            <td>Rs. 0.00
                                <br>(0%)</td>
                            <td>1,170.00
                                <br>(6%)</td>
                            <td>1,170.00
                                <br>(6%)</td>
                            <td>0.00</td>
                            <td>Rs. 21,840.00</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Qawha Coffee 40G Box PKG</td>
                            <td>-</td>
                            <td>8.50</td>
                            <td>500</td>
                            <td>Rs. 0.00
                                <br>(0%)</td>
                            <td>255.00
                                <br>(6%)</td>
                            <td>255.00
                                <br>(6%)</td>
                            <td>0.00</td>
                            <td>Rs. 4,760.00</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Green Tea-Cranberry 40G Box PKG</td>
                            <td>-</td>
                            <td>7.80</td>
                            <td>2500</td>
                            <td>Rs. 0.00
                                <br>(0%)</td>
                            <td>1,170.00
                                <br>(6%)</td>
                            <td>1,170.00
                                <br>(6%)</td>
                            <td>0.00</td>
                            <td>Rs. 21,840.00</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Green Tea-Lemon 40G Box PKG</td>
                            <td>-</td>
                            <td>7.80</td>
                            <td>2500</td>
                            <td>Rs. 0.00
                                <br>(0%)</td>
                            <td>1,170.00
                                <br>(6%)</td>
                            <td>1,170.00
                                <br>(6%)</td>
                            <td>0.00</td>
                            <td>Rs. 21,840.00</td>
                        </tr> -->

                        <tr *ngFor="let row of purchaseOrder.purchaseOrderLines;let i=index">
                            <td>{{i+1}}</td>
                            <td>{{row.materialName}}</td>
                            <td>{{row.lineDesc}}</td>
                            <td>{{row.unitAmt}}</td>
                            <td>{{row.qty}}</td>
                            <td>Rs. {{row.lineDiscountAmt}}
                                
                            <td>
                                {{row.cgst}}
                            <td>{{row.sgst}}
                            <td>{{row.igst}}</td>
                            <td>{{row.lineGrossAmt}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                        <b>Tax Breakup</b>
                        <br> CGST: Rs.   {{purchaseOrder.cgst}}
                        <br> SGST: Rs.   {{purchaseOrder.sgst}}
                        <br> IGST: Rs.   {{purchaseOrder.igst}}
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br> Supplier's VAT TIN:  {{purchaseOrder.vendorTinNumber}}
                        <br> Company's PAN: {{purchaseOrder.vendorPanNumber}}
                        <!-- <br> Others: Rs. {{purchaseOrder.otherAmt}} -->
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                    <tr>
                                            <th style="text-align:right">Total:</th>
                                            <td align="right">Rs.  {{purchaseOrder.netPoAmt}}</td>
                                            <td width="80px">&nbsp;</td>
                                        </tr>
                                <tr>
                                    <th style="text-align:right">Discount:</th>
                                    <td align="right">Rs. - {{purchaseOrder.totalDiscountAmt}}</td>
                                    <td width="80px">&nbsp;</td>
                                </tr>
                                <tr>
                                    <th style="text-align:right">Tax Amount:</th>
                                    <td align="right">Rs. {{purchaseOrder.totalTaxAmt}}</td>
                                </tr>
                                <tr>
                                    <th style="text-align:right">Shipping:</th>
                                    <td align="right">Rs.{{purchaseOrder.totalShippingAmt}}</td>
                                </tr>
                                <tr>
                                    <th style="text-align:right">Grand Total:</th>
                                    <td align="right">Rs. {{purchaseOrder.grossPoAmt}}</td>
                                </tr>
                                <tr>
                                    <th style="text-align:right">Paid :</th>
                                    <td align="right">Rs.{{purchaseOrder.totalPaidAmt}}</td>
                                </tr>
                                <tr>
                                    <th style="text-align:right">Balance :</th>
                                    <td align="right">Rs. {{purchaseOrder.totalDueAmt}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row no-print">
                <div class="col-md-12">
                
                        <a href="javascript:void(0)" (click)="cancelPurchase()" class="btn btn-danger pull-right"
                            style="margin-right: 5px;">
                            <i class="fa fa-trash"></i> Cancel</a>

                    <a href="javascript:void(0)" (click)="returnPurchase()" data-target="#modalSmall" data-toggle="modal" class="btn btn-warning pull-right"
                        style="margin-right: 5px;">
                        <i class="fa fa-angle-double-left"></i> Return Purchase</a>

                    <a href="javascript:void(0)" (click)="receivedProduct()" data-target="#myModal" data-toggle="modal" class="btn btn-success pull-right"
                        style="margin-right: 5px;">
                        <i class="fa fa-cube"></i> Received Product</a>
                        <a href="javascript:void(0)" (click)="viewPayment()" data-target="#modalSmall" data-toggle="modal" class="btn btn-purple pull-right"
                        style="margin-right: 5px;">
                        <i class="fa fa-money"></i> View Payment</a>
                    <a href="javascript:void(0)" (click)="addPayment()" data-target="#modalSmall" data-toggle="modal" class="btn btn-purple pull-right"
                        style="margin-right: 5px;">
                        <i class="fa fa-money"></i> Add Payment</a>

                    <a href="javascript:void(0)" class="btn btn-info pull-right" (click)="generatePdf()" style="margin-right: 5px;">
                        <i class="fa fa-download"></i> Generate PDF</a>

                    <a href="javascript:void(0)" data-target="#modalSmall" (click)="sendEmail()" data-toggle="modal" class="btn btn-primary pull-right"
                        style="margin-right: 5px;">
                        <i class="fa fa-envelope"></i> Email</a>

                    <a href="javascript:void(0)" (click)="edit()" data-target="#myModal" data-toggle="modal" class="btn btn-success pull-right"
                        style="margin-right: 5px;">
                        <i class="fa fa-pencil"></i> Edit</a>
                    <a href="javascript:void(0)" (click)="listPage()" data-target="#myModal" data-toggle="modal" class="btn btn-success pull-right" style="margin-right: 5px;">
                         <i class="fa fa-chevron-circle-left"></i> Back</a>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #sendEmailTemplate let-c="close">
    <div class="modal-header">
        <h3 class="modal-title">Send Email</h3>
        <button type="button" class="close" (click)="c()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <input id="toEmail" class="form-control" placeholder="To:" name="to" [(ngModel)]="purchaseOrder.emailId" value="">
                <p class="help-block">Use Comma(,) for multiple email </p>
            </div>

            <div class="form-group">
                <input class="form-control" placeholder="Subject:" name="subject" [(ngModel)]="purchaseOrder.emailSubject" value="">
            </div>

            <div class="form-group">
                <textarea  name="msg" class="textarea_editor form-control" [(ngModel)]="purchaseOrder.emailBody" style="height: 200px;"></textarea>
            </div>
            <div class="col-6 form-group">
                <label class="control-label">Attachment</label>
                <input type="file" class="form-control">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" id="close" class="btn btn-danger btn-flat pull-left" (click)="c()" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="sendEmailPo()">Send Email</button>
    </div>
</ng-template>


<ng-template #addPaymentTemplate let-c="close">
    <div class="modal-header">
        <h3 class="modal-title">Add Payment</h3>
        <button type="button" class="close" (click)="c()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-6 form-group">
                <label class="control-label">Payment Date</label>
                <!-- <input type="date" class="form-control" [(ngModel)]="purchaseOrderPayout.payoutDate" placeholder="Payment Date"> -->

                            <div class="form-group col-6">
									
									<div class="input-group">

                                        <input type="date" class="form-control form-control-line" placeholder="dd-mm-yyyy" [(ngModel)]="purchaseOrderPayout.payoutDate"  name="payoutDate">

										<!-- <input type="text" class="form-control form-control-line" placeholder="dd-mm-yyyy" [(ngModel)]="purchaseOrderPayout.vPayoutDate" (ngModelChange)="updateDate($event, purchaseOrderPayout, 'payoutDate')" ngbDatepicker #d="ngbDatepicker" #payoutDate="ngModel" name="payoutDate">
										<div class="input-group-append">
											<button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
										</div>	 -->
									</div>
									<!-- <div *ngIf="poDate.invalid && (poDate.dirty || poDate.touched)">
										<small class="form-control-feedback" *ngIf="poDate.errors.required">Payment Date is required.</small>
									
									</div> -->
              
                             </div> 
            </div>
            <div class="col-6 form-group">
                <label class="control-label">Reference No.</label>
                <input type="text" class="form-control" [(ngModel)]="purchaseOrderPayout.payoutRef" placeholder="Reference No">
            </div>
        </div>

        <div class="row">
            <div class="col-6 form-group">
                <label class="control-label">Paid Amount</label>
                <input type="text" class="form-control" [(ngModel)]="purchaseOrderPayout.payoutAmount" placeholder="Paid Amount">
            </div>
            <div class="col-3 form-group">
                <label class="control-label">Attachment</label>
                <file-upload [fileDetail]="'VENDOR-INVOICE'" (change)="fileUpload($event,purchaseOrderPayout)"></file-upload>
              
                            
                
            </div>
            <!-- <div class="col-3 form-group">
                    <label class="control-label">Download</label>
                
                <a href="javascript:void(0)" *ngIf="purchaseOrderPayout.docId!=null" (click)="download(purchaseOrderPayout.docId);"><font  color="black">Download File</font></a></div>
        </div> -->
        </div>
        <div class="row">
            <div class="col-12 form-group">
                <label class="control-label">Payment Method</label>
                <select class="form-control" [(ngModel)]="purchaseOrderPayout.payoutMethod">
                    <option *ngFor="let payment of paymentMethods" [value]="payment.value">
                   {{payment.name}}
                    </option>
                </select>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="close" class="btn btn-danger btn-flat pull-left" (click)="c()" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success"  (click)="savePayment(purchaseOrderPayout)">Save</button>
    </div>
</ng-template>

<ng-template #viewPaymentTemplate let-c="close">
    <div class="modal-header">
        <h3 class="modal-title">View Payments</h3>
        <button type="button" class="close" (click)="c()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Sl.No</th>
                        <th>Payment Date</th>
                        <th>Reference No</th>
                        <th>Received Amount</th>
                        <th>Download</th>
                        <th>Payment Method</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of purchaseOrder.purchaseOrderPayouts;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{row.payoutDate | date : "dd/MM/yyyy"}}</td>
                        <td>{{row.payoutRef}}</td>
                        <td>{{row.payoutAmount}}</td>
                        <td><a href="javascript:void(0)" *ngIf="row.docId!=null" (click)="download(row.docId);"><font  color="black">Download</font></a></td>
                        <td> {{row.payoutMethod}}</td>

                        
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" id="close" class="btn btn-danger btn-flat pull-left" (click)="c()" data-dismiss="modal">Close</button>
      
    </div>
</ng-template>

<ng-template #receivedProductTemplate let-c="close">
    <div class="modal-header">
        <h3 class="modal-title">Purchase Invoice</h3>
        <button type="button" class="close" (click)="c()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Sl.No</th>
                        <th>Product</th>
                        <th>Purchase Qty</th>
                      
                        <th>Received Qty</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of purchaseOrder.purchaseOrderLines;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{row.materialName}}</td>
                        <td>{{row.qty}}</td>
                        <td> <input type="text"  [(ngModel)]="row.receivedQty" placeholder="Received Qty"></td>

                        
                    </tr>
                    
                </tbody>
            </table>
        </div>

    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-success" (click)="receivedProductQty()">Update</button>
    </div>
</ng-template>

<ng-template #returnPurchaseTemplate let-c="close">
    <div class="modal-header">
        <h3 class="modal-title">Return Purchase</h3>
        <button type="button" class="close" (click)="c()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Sl.No</th>
                        <th>Product</th>
                        <th>Purchase Qty</th>
                        <th>Received</th>
            
                        <th>Returned Qty</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of purchaseOrder.purchaseOrderLines;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{row.materialName}}</td>
                        <td>{{row.qty}}</td>
                        <td>{{row.receivedQty}}</td>
                        <td> <input type="text"  [(ngModel)]="row.returnedQty" placeholder="Returned Qty"></td>

                        
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" id="close" class="btn btn-danger btn-flat pull-left" (click)="c()" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="returnPurchaseQty()">Save</button>
    </div>
</ng-template>

<ng-template #cancelTemplate>
    <div class="modal-header">
        <h5>Are you sure. You want to cancel!</h5>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="deletePo()">Yes</button>
        <button type="button" class="btn btn-outline-secondary" (click)="closePo()">No</button>
    </div>
    
    </ng-template>
