<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Function Group</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Function Group</li>
            </ol>
            <button type="button" class="btn btn-info d-none d-lg-block m-l-15" [routerLink]="['/operation/function-group/new']"><i class="fa fa-plus-circle"></i> Create New</button>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
        <flag-alert [message]="saveMsg"></flag-alert>
           <div class="table-responsive">
                <table class="table color-bordered-table theme-bordered-table">
                    <thead>
                        <tr>
                            <th data-sort-initial="true" data-toggle="true">#</th>
                            <th data-sort-initial="true" data-toggle="true">Function Group Name</th>
                            <th data-sort-initial="true" data-toggle="true">Function Group Code</th>
                            <th data-sort-initial="true" data-toggle="true">Delivery Type</th>
                            <th data-sort-initial="true" data-toggle="true">Is Enable</th>
                            <th data-sort-initial="true" data-toggle="true">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr *ngFor="let row of rows | slice: (upage-1) * upageSize : (upage-1) * upageSize + upageSize; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{row.funGrpName}}</td>
                                <td>{{row.funGrpCode}}</td>
                                <td>{{row.deliveryType}}</td>
                                <td>{{row.isEnabled}}</td>
                                <td class="text-nowrap">
                                        <a href="javascript:void(0)" [routerLink]="['/operation/function-group/detail/',row.id]" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                        <confirm-delete [type]="'icon'" (confirmed)="deleteRow(row.id)"></confirm-delete>
                                    </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
            <div class="row">
                <div class="col-sm">
                    <ngb-pagination [(page)]="upage" [pageSize]="upageSize" [collectionSize]="rows.length">
                    </ngb-pagination>
                    <pre>Current page: {{upage}}</pre>
                </div>
            </div>
        </div>
        
    </div>
</div>  