<div class="row page-titles">
	<div class="col-md-5 align-self-center">
		<h4 class="text-themecolor">Leave Approval</h4>
	</div>
	<div class="col-md-7 align-self-center text-right">
		<div class="d-flex justify-content-end align-items-center">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
				<li class="breadcrumb-item"><a [routerLink]="['/my-task/leave-approval/view']">Leave Approval View</a></li>
				<li class="breadcrumb-item active">Leave Requests Approvel</li>
			</ol>
		</div>
	</div>
</div>


<div class="row m-b-20">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

					<div class="row">
							<div class="form-group col-md-2 col-sm-3">
										<label class="control-label"><font color="blue"><b>Leave Code</b></font> </label><br/>
										<span class="label label-default">{{la.leaveCode}} </span>
							</div>
							<div class="form-group col-md-2 col-sm-3">
									<label class="control-label"><font color="blue"><b>Leave Type Code</b></font> </label><br/>
									<span class="text">{{la.leaveTypeCode}} </span>
							</div>
	
							<div class="form-group col-md-2 col-sm-3">
									<label class="control-label"><font color="blue"><b> Minimum Period </b></font> </label><br/>									
									<span class="text">{{leaveDetails.minDuration}}</span>
								</div>
								<div class="form-group col-md-2 col-sm-3">
									<label class="control-label"><font color="blue"><b> Max Period </b></font> </label><br/>
									
									<span class="text">{{leaveDetails.maxDuration}}</span>                 
								 </div>
								<div class="form-group col-md-2 col-sm-3">
									<label class="control-label"><font color="blue"><b> Current Balance </b></font> </label><br/>																		
									<span class="text">{{CL}}</span>                 
								   </div>
								<div class="form-group col-md-2 col-sm-3">
									<label class="control-label"><font color="blue"><b> Remarks </b></font> </label><br/>
									<span class="text">{{leaveDetails.remarks}}</span>
									
							  </div>
							  <div class="form-group col-md-2 col-sm-3">
								<label class="control-label"><font color="blue"><b> Applied Employee </b></font> </label><br/>
								<span class="text">{{la.empFname}} &nbsp; {{la.empLname}} </span>
								
						  </div>
							  <div class="form-group col-md-2 col-sm-3">
									<label class="control-label"><font color="blue"><b> Applied Date </b></font> </label><br/>
									<span class="text">{{la.leaveAppliedDate | date : 'dd/MM/yyyy'}}</span>
									
							  </div>
							  <div class="form-group col-md-2 col-sm-3">
									<label class="control-label"><font color="blue"><b> Start Date </b></font> </label><br/>
									<span class="text">{{la.startDt | date : 'dd/MM/yyyy'}}</span>
									
							  </div>
							  <div class="form-group col-md-2 col-sm-3">
									<label class="control-label"><font color="blue"><b> Start Session </b></font> </label><br/>
									<span class="text">{{la.startSession }}</span>
									
							  </div>
							  <div class="form-group col-md-2 col-sm-3">
									<label class="control-label"><font color="blue"><b> To Date </b></font> </label><br/>
									<span class="text">{{la.endDt | date : 'dd/MM/yyyy'}}</span>
									
							  </div>
							  <div class="form-group col-md-2 col-sm-3">
									<label class="control-label"><font color="blue"><b> End Session </b></font> </label><br/>
									<span class="text">{{la.endSession }}</span>
									
							  </div>
							  <div class="form-group col-md-2 col-sm-3">
									<div><font color="blue"><b>Duration</b></font></div>
									{{ la.startDt | dtdiff: la.endDt: la.startSession: la.endSession }} Days					  
								</div>
								<div class="form-group col-md-2 col-sm-3">
									<div><font color="blue"><b>Shift Name</b></font></div>
									<span>{{la.shiftName}}</span>					  
								</div>
							  <div class="form-group col-md-4 col-sm-3">
									<label class="control-label"><font color="blue"><b> Reason </b></font> </label><br/>
									<span class="text">{{la.reason}}</span>
									
							  </div>
							  <div *ngIf="la.leaveStatus=='N1-APPROVAL-PENDING'" class="form-group col-md-3 col-sm-3">
								<label class="control-label"><font color="blue"><b> Is N2 Approve Needed? </b></font> </label><br/>
								<input type="checkbox" [(ngModel)]="la.needN2Approval">								
						  </div>						 					
	</div>
	<div *ngIf="la.leaveStatus=='N2-APPROVAL-PENDING'">
			<h4><b>N1 Manager</b> </h4><br/>
	</div>
	<div *ngIf="la.leaveStatus=='N2-APPROVAL-PENDING'" class="row">

	<div *ngIf="la.leaveStatus=='N2-APPROVAL-PENDING'" class="form-group col-md-2 col-sm-3">
			<label class="control-label"><font color="blue"><b> N1 Manager </b></font> </label><br/>
			<span class="text">{{la.n2EmpCode}}-{{la.n2EmpFname}} &nbsp; {{la.n2EmpLname}}</span>							
    </div>
	<div *ngIf="la.leaveStatus=='N2-APPROVAL-PENDING'" class="form-group col-md-2 col-sm-3">
			<label class="control-label"><font color="blue"><b> N1 Approved Date </b></font> </label><br/>
			<span class="text">{{la.n1DecisionDt | date : 'dd/MM/yyyy'}}</span>							
	</div>
	  <div *ngIf="la.leaveStatus=='N2-APPROVAL-PENDING'" class="form-group col-md-2 col-sm-3">
		<label class="control-label"><font color="blue"><b> N1 Remarks </b></font> </label><br/>
		<span class="text">{{la.n1Remarks}}</span>							
  </div>
</div>
	
				
				<div class="modal-footer">
					<div class="form-group">
						<button type="submit" class="btn btn-success waves-effect waves-light m-t-10" (click)="approve();">Approve</button>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-danger waves-effect waves-light m-t-10" (click)="reject();">Reject</button>
                    </div>                  
                    <div class="form-group">
						<button type="submit" class="btn btn-warning waves-effect waves-light m-t-10" [routerLink]="['/my-task/leave-approvel/view']">back</button>
					</div>
				</div>
				
			</div>
        </div>
	</div>
</div>



<ng-template #Approve let-c="close">
	<div class="modal-header">
		<h3 class="modal-title">Are You Sure To Approve This Leave Request?</h3>
		<button type="button" class="close" (click)="c()"><span aria-hidden="true">&times;</span></button>
	</div>  
		<div class="modal-body">
				<div class="row">
						<div *ngIf="la.leaveStatus=='N1-APPROVAL-PENDING'" class="col-6 form-group">
								<label class="control-label"><font color="NAVY"><b>Please Enter Your Remarks</b></font></label><br/>
							<textarea type="text" rows="6" [(ngModel)]="la.n1Remarks"  [ngModelOptions]="{standalone: true}" placeholder="Remarks" class="form-control form-control-line"></textarea>
						</div>
						<div *ngIf="la.leaveStatus=='N2-APPROVAL-PENDING'" class="col-6 form-group">
							<label class="control-label"><font color="NAVY"><b>Please Enter Your Remarks</b></font></label><br/>
						<textarea type="text" rows="6" [(ngModel)]="la.n2Remarks"  [ngModelOptions]="{standalone: true}" placeholder="Remarks" class="form-control form-control-line"></textarea>
					</div>
		  </div>
		</div>     
	<div class="modal-footer">
		<button type="button" class="btn btn-info waves-effect waves-light" (click)="approveLeave()">Yes</button>

			<button type="button" class="btn btn-default" (click)="back()">No</button>
		</div>
</ng-template>


<ng-template #Reject let-c="close">
		<div class="modal-header">
			<h3 class="modal-title">Are You Sure To Reject This Leave Request?</h3>
			<button type="button" class="close" (click)="c()"><span aria-hidden="true">&times;</span></button>
		</div>

			<div class="modal-body">
					<div class="row">
							<div *ngIf="la.leaveStatus=='N1-APPROVAL-PENDING'" class="col-6 form-group">
									<label class="control-label"><font color="NAVY"><b>Please Enter Your Remarks</b></font></label><br/>
								<textarea type="text" rows="6" [(ngModel)]="la.n1Remarks"  [ngModelOptions]="{standalone: true}" placeholder="Remarks" class="form-control form-control-line"></textarea>
							</div>
							<div *ngIf="la.leaveStatus=='N2-APPROVAL-PENDING'" class="col-6 form-group">
								<label class="control-label"><font color="NAVY"><b>Please Enter Your Remarks</b></font></label><br/>
							<textarea type="text" rows="6" [(ngModel)]="la.n2Remarks"  [ngModelOptions]="{standalone: true}" placeholder="Remarks" class="form-control form-control-line"></textarea>
						</div>
				</div>
			</div>
		   
				
		<div class="modal-footer">
			<button type="button" class="btn btn-info waves-effect waves-light" (click)="rejectLeave()">Yes</button>

				<button type="button" class="btn btn-default" (click)="back()">No</button>
			</div>
	</ng-template>



